/* General */

body{
	background-color: #bdc3c7;
	font-family: 'Lato', sans-serif;
	margin:0;
	padding: 0;
}

.container{
	width: 940px;
	margin:0 auto;
}

/*Header*/
.header{

	padding-top:21px;
	padding-bottom:39px;
	background-color: #27ae60;

}

/*логотип*/
.logo{
	float:left;
	margin:0 0 0 60px;

}
.logo a img{
width:100%;
height: 100%;
transition: all .1s ease;
}

.logo a img:hover{
width:110%;
height: 110%;
}


/*меню*/
.navigation{
	float:right;
	list-style: none;
	margin: 0 60px 0 0;
	padding: 0;
}
.navigation li {
	display:inline-block;
	padding-left:18px;
}
.navigation a{
	text-decoration: none;
	color:#fff;
	font-size: 14px;
}
.navigation a:hover, .navigation a:active{
	color:#252525;
}

/*подзаголовок страницы*/
.htext {
	 margin-top:190px;
	 margin-bottom:70px;
	 text-transform:uppercase;
	 text-align:center;
	 color:#fff;
	 font-size:40px;
	 font-weight:400;
}
.htext_2
{
	margin-bottom:0;
}
.htext span{
 	font-weight:300;
}

/*кнопки шапки*/
.hbutton {
	display: block;
	background-color:#2ecc71;
	border-radius: 5px;

	line-height:45px;
	width:220px;
	
	font-size:14px;
	text-decoration:none;
	color:white;
	margin: 0 auto;
	text-align:center;
	transition:all 0.6s ease;
}
.hbutton:hover{
	background-color:#30d476;
	box-shadow: inset 0 0 5px #303030;
}
/*Content*/
.content {
	background:#ecf0f1;
	margin:0 auto;
	padding-bottom: 60px;

}
/*подзаголовки*/
.ctitle {
	text-align:center;
	font-size:20px;
	color:#444;
	margin: 0 auto;
	padding-top:85px;
	font-weight:400;
	padding-bottom:43px;
	background: url(../img/q.png) no-repeat center bottom;
}
.ctitle_2 {
	padding-top:0;
	padding-bottom:48px;
	background: none;
}
.ctitle2 {
	color:#7f8c8d;
	padding:0;
	background: none;
}
.ctitle3 {
	color:#7f8c8d;
	padding:141px 0 0 0;
	background: none;
}

/*текст*/
.ctext{
	text-align: center;
	font-size: 12px;
	color: #444;
	margin: 0 auto;
	padding-top:24px;
	padding-bottom: 90px;
	width:365px;
}
.ctext_2{
	text-align: left;
	padding-bottom: 0;
	font-size: 14px;
	width:620px;
}
.ctext_3{
	padding-bottom: 90px;
}

/*кнопки*/
.cbutton {
	display: block;
	background-color:transparent;
	border: 2px solid #989a9a;
	border-radius: 5px;

	line-height:36px;
	width:217px;
	
	font-size:14px;
	text-decoration:none;
	color:#9099a3;
	margin: 0 auto;
	text-align:center;
	transition:all 0.6s ease;
}
.cbutton:hover{
	background-color:#909090;
	border: 2px solid #1c1c1c;
	color:#fff;
}
.cbutton_2 {
	display: block;
	background-color:#2ecc71;
	border-radius: 5px;

	line-height:26px;
	width:140px;
	
	font-size:10px;
	text-decoration:none;
	text-align:center;
	color:white;
	
	margin: 0 auto;
	transition:all 0.6s ease;
}
.cbutton_2:hover{
	background-color:#30d476;
	box-shadow: inset 0 0 7px rgba(0,0,0,0.3);

}
/*Footer*/
.footer{
	background-color: #444;
	padding:40px 60px;
}

/*социальные сети*/
.social{
	list-style: none;
	float:left;
}
.social ul{
	margin: 0;
	padding:0 ;
}
.social li {
	display:inline-block;
}
.social li a{
	text-decoration: none;
	color:#f9f9f9;
	font-size: 14px;
	padding-left:24px;
	padding-right:15px;
	transition:all 0.4s ease;
}
.social li a:hover{
	color:#fff;
	font-size: 16px;
	text-shadow:0 0 3px rgba(0,0,0,0.8);
}
.social li .facebook{
	background: url(../img/facebook.png) no-repeat 0 center;
	padding-left:15px;
}
.social li .twitter{
	background: url(../img/twitter.png) no-repeat 0 center;
}
.social li .dribble{
	background: url(../img/dribble.png) no-repeat 0 center;
}

/*права*/
.rights{
	display:block;
	float:right;
	font-size: 14px;
	color: #fff;
	font-weight:300;
	margin:0;
}

.fcontainer{
	overflow: hidden;
}



/* Home-page */
/*контейнер-картинок*/
.pics_container{
	margin: 0 auto;
	padding-top:30px;
	padding-bottom:57px;
	width:820px;
	height:493px; 
}
/*картинки*/
.pic_left{
float:left;
}
.pic_right{
float:right;
}
.pic_left_2{
float:left;
padding-top: 20px;
}
.pic_right_2{
float:right;
padding-top: 20px;
}

/*клиенты*/
.clients{
margin:0 auto;
padding-top:50px;
height:50px; 
text-align: center;
}
.clients a {
margin-left: 35px;
margin-right: 35px;
}
.clients img {
vertical-align: top;
}


/* Portfolio-page */
/*контейнер-картинок*/
.ppics_container{
	margin: 0 auto;
	padding-top:72px;
	padding-bottom:6px;
	width:620px;
	height:832px;
}


/* About-page */
/*иконки*/
.icons_row{
text-align: center;
padding-bottom:90px;
}
.icon_info{
	line-height: 113px;
  position: absolute;
  top: 133px;
  left: 0;
  width: 113px;
  transition: all .5s ease;
  text-align: center;
  color: #fff;
  border: 10px solid rgba(39,174,97,.8);
  border-radius: 50%;
  background-color: rgba(149,165,166,.8);
}
.icon {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 133px;
  height: 133px;
  border-radius: 50%;
}
.icon + .icon{
  margin-left: 20px;
}
.icon:hover .icon_info{
  top: 0;
}


/* Contact-page */
/*карта*/
/*по уроку https://developers.google.com/maps/tutorials/fundamentals/adding-a-google-map */
#map-canvas{
	width: 620px;
	height: 295px;
	background-color: #CCC;
	margin: 0 auto;

}

.map{
	padding-top: 63px;
	padding-bottom: 55px;
}

/*текст*/
.ctext_contact{
	text-align: left;
	padding-top:0;
	padding-bottom: 70px;
	width:620px;
	font-size: 16px;
}

/*контакты*/
.contact{
	overflow: hidden;
	padding: 0	162px;
}

/*форма*/
.contact_form{
	float:left;
}
.form_element{
	width: 400px;
	height: 43px;
	display: block;
	background-color:transparent;
	border: 1px solid #aaa;
	border-radius: 3px;

	font-size:16px;
 	font-weight:100;
	padding-left: 15px;
	color:#acacac;
}
.form_element +.form_element{
	margin-top: 16px;
}
.form_message{
	height: 228px;
	padding-top: 1px;
}
.form_button{
	display: block;
	background-color:#95a5a6;
	border-radius: 3px;

	line-height:23px;
	width:120px;
	
	font-size:9px;
	text-align:center;
	color:white;

	margin-top: 16px;
}

/*сами контакты*/
.contact_info{
	float:right;
	width: 180px;

}
.contact_details{
	text-align: left;
	font-size: 17px;
	color: #444;
	padding-bottom: 30px;
	margin: 0;
}

.contacts{
	text-align: left;
	font-size: 14px;
	color: #555;
	margin: 0;
}
